body{
    display: flex;
    justify-content: center;
}

#container {
    display: flex;
}

#list{
    max-height: 400px;
}

.selected{
    color: red;
}

.hidden{
    display: none;
}

#app{
    display: flex;
    flex-direction: column;
    max-width: 1200px;
}