body{
    display: flex;
    justify-content: center;
    height: 100%;
    background-color: black;
    color: white;
}

html{
    height: 100%;
    font-family: sans-serif;
}

ul{
    list-style-type: none;
    padding: 15px;
    background-color: #333333;
    font-size: large;
}

li{
    padding: 8px;
    border-bottom: 1px solid grey;
}

#container {
    display: flex;
    margin-top: 20px;
    gap: 20px;
}

#list{
    max-height: 90vh;
    overflow: scroll;
    scrollbar-width: none;
}

#list::-webkit-scrollbar{
    display: none;
}

.selected{
    color: tan;
    background-color: #7d2248;
}

.hidden{
    display: none;
}

#app{
    display: flex;
    flex-direction: column;
    width: 1200px;
    height: 100%;
}